.ProfilePage-user {
    padding: 20px;
    text-align: center;
    filter: grayscale(50%);
}

.ProfilePage-user h1 {
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

.ProfilePage-user h5 {
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

.ProfileCard-user {
    display: inline-block;
    border-radius: 8px;
    padding: 100px;
    padding-top: 10px;
    max-width: 500px;
    margin: auto;
    background-color: #fafafa;
    box-shadow: 0px 8px 4px 6px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 8px 4px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 8px 4px 6px rgba(0,0,0,0.25);
    text-align: left;
}

.inputs {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.ProfileCard-user text {
    display: block;
    margin-bottom: 5px;
}

.button-user {
    width: 100%;
    padding: 12px;
    transition-duration: 0.3s;
    border: 1px solid #545454;
    border-radius: 4px;
    color: #545454;
    background-color: white;
}

.button-user:hover {
    border-radius: 4px;
    color: white;
    background-color: #545454;
}

.deleteButton-user {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    transition-duration: 0.3s;
    border: 1px solid #424242;
    border-radius: 4px;
    color: #ffffff;
    background-color: #b00b0b;
}

.deleteButton-user:hover {
    background-color: #d82333;
}
