/* CreateNewProduct.css */

.CreateNewProduct-artist {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.CreateNewProduct-artist h1 {
    color: #333;
    margin-bottom: 20px;
}

.CreateNewProduct-artist form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
