.ProfilePage-artist {
    padding: 20px;
    text-align: center;
}

.ProfilePage-artist h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.ProfilePage-artist h5 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.ProfileCard-artist {
    border-radius: 8px;
    padding: 100px;
    padding-top: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.432);
    text-align: left;
}

.ProfileCard-artist input[type="text"],
.ProfileCard-artist input[type="email"],
.ProfileCard-artist input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.button-artist {
    width: 100%;
    padding: 15px;
    transition-duration: 0.3s;
    border: 1px solid #424242;
    border-radius: 5px;
    color: #424242;
    background-color: rgb(254, 254, 254);
}

.button-artist:hover {
    border-radius: 5px;
    color: white;
    background-color: #424242;
}

.deleteButton-artist {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    transition-duration: 0.3s;
    border: 1px solid #ae38cf;
    border-radius: 5px;
    color: #ffffff;
    background-color: #990b0b;
}

.deleteButton-artist:hover {
    background-color: #c82333;
}
